@import "footer.css";
@import "header.css";
@import "reset.css";
@import "main.css";


body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}



.media-info-msg{
    position: fixed;
    top: o;
    left: o;
    width: 100vw;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}

@media screen and (max-width:500px) {
    .media-info-msg{
        display: none;
    }
    
}